/* =========== RESET ==================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* =========== VARIABLE ==================================*/
:root {
  --header-height: 4.5rem;
  --hue: 159;
  /*========colors========*/
  /* --color: #B9686F; */
  --base-color: #ff3366;
  --base-color-second: #f67797;
  --body-color: #f9f9f9;
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
}

/* =========== BASE ==================================*/
body {
  font: 400 1rem "DM Sans", sans-serife;
  background: var(--body-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 1.875rem "Poppins", sans-serife;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background: var(--base-color);

  color: var(--text-color-light);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.31rem;
  text-align: center;

  height: 3.5rem;
  padding: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;

  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-second);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsl(0deg 36% 57%) ,
    rgb(244 204 210 / 34%)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    rgb(244 204 210 / 34%),
    hsl(0deg 36% 57%) 
  );
}


/* =========== LAYOUT ==================================*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 5rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

#header {
  border-bottom: 1px solid #e4e4e4;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}

/* =========== LOGO ==================================*/
.logo {
  color: var(--title-color);
  font: 700 1.31rem "Poppins", sans-serife;
}

.logo span {
  color: var(--base-color);
}

/* =========== NAVIGATION ==================================*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color)
}

/* animação do menu */
nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
}

/* mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
}

nav.show .menu {
  display: grid;
  place-content: center;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toogle menu */
.toogle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 1.5rem;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
}

/* =========== HOME ==================================*/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image img {
  border-radius: 0.25rem;
  box-shadow: 13px 12px 14px #00000021;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/* =========== ABOUT ==================================*/
#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image img {
  border-radius: 0.25rem;
  box-shadow: 13px 12px 14px #00000021;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


